@model IEnumerable<DTS.Models.Education>

@{
    ViewBag.Title = "Education_Select";
}

<h1 style="text-align:center;font-weight:bold;color:darkorange">Privacy Complaints - All Records</h1>

@Html.ActionLink("<-- Back", "Privacy_Complaints", "Home", "", new { id = "back" })
<br />
<br />
<br />
@if (ViewBag.err)
{
    <h3 style="text-align:center;color:green;font-family:'Palatino Linotype'"> @ViewBag.info_insert </h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.May)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Numb_Educ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Numb_Eligible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approx_Per_Educated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Session_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Numb_Educ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Numb_Eligible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approx_Per_Educated)
                </td>
                <td id="btns">
                    <div id="btn">@Html.ActionLink("Edit", "Edit_Incidents", "Edit", new { id = item.Id }, new { @class = "b" })</div>
                    <div id="btn">@Html.ActionLink("Details", "Incidents_Details", "Details", new { id = item.Id }, new { @class = "b" })</div>
                    <div id="btn">@Html.ActionLink("Delete", "Incident_Delete", "Delete", new { id = item.Id }, new { @class = "b" })</div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 style="text-align:center;color:red;border:2px solid red;border-radius:9px;padding:12px">@ViewBag.emptyMsg</h4>
}
<style>
    .b {
        color: blue;
        text-decoration: none;
    }

        .b:hover {
            color: red;
            text-decoration: none;
        }

    #back {
        text-decoration: none;
        border: 2px solid darkorange;
        color: darkorange;
        border-radius: 25px;
        padding: 14px;
    }

        #back:hover {
            background-color: darkorange;
            color: white;
        }

    .btnn {
        text-decoration: none;
    }

    #btn {
        border: 1px solid blue;
        padding: 5px;
        text-align: center;
        border-radius: 12px;
    }

        #btn:hover {
            background-color: blue;
        }
</style>