@model IEnumerable<DTS.Models.Outbreaks>

@{
    ViewBag.Title = "Outbreaks";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WOR Compliants sf</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="~/Home/Index"><img src="~/Logo/logo2.png" style="width:90px;height:35px;margin:7px 0 0 10px" /></a>*@
                @Html.ActionLink("SIENNA", "SignIN", "Home", null, new { id = "nameApp" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("WOR Tabs", "WOR_Tabs", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register_New_User", "Register")</li>
                    <li>@Html.ActionLink("About", "Index", "AdminLTE")</li>
                    <li>
                        <a href="https://siennaliving.sharepoint.com/SitePages/Home.aspx">Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="">
        <div style="width:320px;margin:auto">
            <img src="~/Logo/logo1_sm.png" />
        </div>
        @*------------------------------------------- Your View: -----------------------------------------------------------------*@
        <h1 style="text-align:center;color:darkorange">Select Outbreaks</h1>

        @Html.ActionLink("<-- Back", "Outbreaks", "Home", "", new { id = "back" })  <br /><br /><br />
        @if (ViewBag.err)
        {
            <table class="table table-bordered" style="float:left;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date_Declared)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date_Concluded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type_of_Outbreak)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total_Days_Closed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total_Residents_Affected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total_Staff_Affected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Strain_Identified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deaths_Due)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CI_Report_Submitted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notify_MOL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Credit_for_Lost_Days)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tracking_Sheet_Completed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Docs_Submitted_Finance)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date_Declared)
                        </td>
                        <td>
                            @ViewBag.list
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date_Concluded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type_of_Outbreak)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total_Days_Closed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total_Residents_Affected)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total_Staff_Affected)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Strain_Identified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deaths_Due)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CI_Report_Submitted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notify_MOL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credit_for_Lost_Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tracking_Sheet_Completed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Docs_Submitted_Finance)
                        </td>
                        <td style="text-align:center">
                            <div>@Html.ActionLink("Edit", "Edit_Outbreaks", "Edit", new { id = item.Id }, new { @class = "edt" })</div>
                            <div>@Html.ActionLink("Details", "Outbreaks", "Details", new { id = item.Id }, new { @class = "edt" })</div>
                            <div>@Html.ActionLink("Delete", "Outbreaks_Delete", "Delete", new { id = item.Id }, new { @class = "edt" })</div>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h4 style="text-align:center;color:red;border:2px solid red;border-radius:9px;padding:12px">@ViewBag.emptyMsg</h4>
        }

        @*------------------------------------------- View End -----------------------------------------------------------------*@
        <hr />
        <footer>
            <p style="text-align:center;font-weight:bold">&copy; @DateTime.Now.Year - WOR Report</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

    <style>
        #nameApp {
            font-family: 'Times New Roman';
            font-weight: bold;
            font-size: x-large;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
            color: darkorange;
        }

            #nameApp:hover {
                text-decoration: none;
                color: navajowhite;
            }
    </style>
</body>
</html>



<style>
    #back {
        text-decoration: none;
        border: 2px solid darkorange;
        border-radius: 25px;
        padding: 14px;
        color: darkorange;
    }

        #back:hover {
            background-color: darkorange;
            color: white;
        } 

    .edt {
        color: darkorange;
        padding: 6px;
        font-weight: bold;
        text-align:center;
    }

        .edt:hover {
            border: 1px solid darkorange;
            padding: 5px;
            color: white;
            background-color: black;
            text-decoration: none;
            border-radius: 10px;
        }

        .edt:active {
            color: green;
            background-color: lawngreen
        }
</style>