@model IEnumerable<DTS.Models.Visits_Others>

@{
    ViewBag.Title = "Select_Visits_Others";
}


<h1 style="text-align:center;color:darkorange"> All Records Visits by Others </h1>

@Html.ActionLink("<-- Back", "Visits_Others", "Home", "", new { id = "back" })
<br />
<br />
<br />
@if (ViewBag.err)
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_Visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_of_Findings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details_of_Findings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corrective_Actions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report_Posted)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-size:smaller">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_Visit)
                </td>
                <td>
                    @ViewBag.list
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_of_Findings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details_of_Findings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Corrective_Actions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report_Posted)
                </td>
                <td id="btns">
                    @Html.ActionLink("Edit", "Edit_Visits_Others", "Edit", new { id = item.Id }, new { @class = "b" }) 
                    @Html.ActionLink("Details", "Visits_Others_Details", "Details", new { id = item.Id }, new { @class = "b" }) 
                    @Html.ActionLink("Delete", "Visits_Others_Delete", "Delete", new { id = item.Id }, new { @class = "b" }) 
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4 style="text-align:center;color:red;border:2px solid red;border-radius:9px;padding:12px">@ViewBag.emptyMsg</h4>
}


<style>
     .b {
         border-radius:6px;
        color: blue;
        text-decoration: none;
        border:1px solid blue;
        padding:6px;
    }

        .b:hover {
            color: red;
            text-decoration: none;
            background-color:blue;
        }

    #back {
        text-decoration: none;
        border: 2px solid darkorange;
        color: darkorange;
        border-radius: 25px;
        padding: 14px;
    }

        #back:hover {
            background-color: darkorange;
            color: white;
        }

    .btnn {
        text-decoration: none;
    }

    #btn {
        border: 1px solid blue;
        padding: 5px;
        text-align: center;
        border-radius: 12px;
    }

        #btn:hover {
            background-color: blue;
        }

 

    /*#btn {
        padding: 1px;
        text-align: center;
    }*/
</style>