@model IEnumerable<DTS.Models.Good_News>

@{
    ViewBag.Title = "Select_GoodNews";
    Layout = null;
}
@Styles.Render("~/Content/css")
<h1 style="text-align:center;font-weight:bold;color:darkorange">Good News - All Records</h1>

@Html.ActionLink("<-- Back", "GoodNews_Insert", "Home", "", new { id = "back" })
<br />
<br />
<br />
@if (ViewBag.err)
{
    @*<h3 style="text-align:center;color:green;font-family:'Palatino Linotype'"> @ViewBag.info_insert </h3>*@
    <table class="table table-bordered">
        <tr>
            <th>
                #
            </th>
            <th>
              Date News
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceCompliment)
            </th>
            <th>
                Received From
            </th> 
            <th>
                Description Complim
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teamwork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Growth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compliment)
            </th>
            <th>
                Spot Awards
            </th>
            <th>
                Awards Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAwards)
            </th>
            <th>
                Awards Received
            </th>
            <th>
                Community Inititives
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNews)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @ViewBag.list
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceCompliment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description_Complim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Respect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teamwork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsibility)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Growth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Compliment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spot_Awards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Awards_Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAwards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Awards_Received)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Community_Inititives)
                </td>
                <td id="btns">
                    <div id="btn">@Html.ActionLink("Edit", "Edit_GoodNews", "Edit", new { id = item.Id }, new { @class = "b" })</div>
                    <div id="btn">@Html.ActionLink("Details", "GoodNews_Details", "Details", new { id = item.Id }, new { @class = "b" })</div>
                    <div id="btn">@Html.ActionLink("Delete", "GoodNews_Delete", "Delete", new { id = item.Id }, new { @class = "b" })</div>
                </td>
            </tr>
        } 
    </table>
}
else
{
    <h4 style="text-align:center;color:red;border:2px solid red;border-radius:9px;padding:12px">@ViewBag.emptyMsg</h4>
}
<style>
    .b {
        color: blue;
        text-decoration: none;
    }

        .b:hover {
            color: red;
            text-decoration: none;
        }

    #back {
        text-decoration: none;
        border: 2px solid darkorange;
        color: darkorange;
        border-radius: 25px;
        padding: 14px;
    }

        #back:hover {
            background-color: darkorange;
            color: white;
        }

    .btnn {
        text-decoration: none;
    }

    #btn {
        border: 1px solid blue;
        padding: 5px;
        text-align: center;
        border-radius: 12px;
    }

        #btn:hover {
            background-color: blue;
        }
</style>