@model IEnumerable<DTS.Models.WSIB>

@{
    ViewBag.Title = "Select_WSIB";
}


<h1 style="text-align:center;color:darkorange"> All Records WSIB </h1>

@Html.ActionLink("<-- Back", "WSIB", "Home", "", new { id = "back" })
<br />
<br />
<br />
@if (ViewBag.err)
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Accident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accident_Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Duties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Regular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lost_Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified_Days_Not_Shadowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified_Days_Shadowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Form_7)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Accident)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee_Initials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accident_Cause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Duties)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Regular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lost_Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified_Days_Not_Shadowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified_Days_Shadowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Form_7)
                </td>
                <td>      
                    <div style="width:160px;margin-top:10px">
                        @Html.ActionLink("Edit", "Edit_WSIB", "Edit", new { id = item.Id }, new { id = "b" })
                        @Html.ActionLink("Details", "WSIB_Details", "Details", new { id = item.Id }, new { id = "b" })
                        @Html.ActionLink("Delete", "WSIB_Delete", "Delete", new { id = item.Id }, new { id = "b" })
                    </div>
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4 style="text-align:center;color:red;border:2px solid red;border-radius:9px;padding:12px">@ViewBag.emptyMsg</h4>
}

<style>
    #b {
        border-radius: 6px;
        color: blue;
        text-decoration: none;
        border: 1px solid blue;
        padding: 6px;
    }

        #b:hover {
            color: red;
            text-decoration: none;
            background-color: blue;
        }

    #back {
        text-decoration: none;
        border: 2px solid darkorange;
        color: darkorange;
        border-radius: 25px;
        padding: 14px;
    }

        #back:hover {
            background-color: darkorange;
            color: white;
        }

    .btnn {
        text-decoration: none;
    }

    #btn {
        border: 1px solid blue;
        padding: 5px;
        text-align: center;
        border-radius: 12px;
    }

        #btn:hover {
            background-color: blue;
        }
</style>