@model DTS.Models.Search_Word
@{
    ViewBag.Title = "Search by Word Form";
}


@if (ViewBag.Check == false)
{
    <h4 style="text-align:center;color:red;font-family:'Palatino Linotype';border:1px solid red;padding:13px;border-radius:15px">@ViewBag.EmptyText</h4>
}
else
{
    <h4 style="text-align:center;color:green;font-family:'Palatino Linotype';padding:13px;border-radius:15px">@ViewBag.FoundText</h4>
}


@using (Html.BeginForm())
{

    <div id="center">
        <div class="form-horizontal" id="">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label ">Please enter any word/s you are looking for</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustomersWord, new { htmlAttributes = new { @class = "form-control" } })
                    @ViewBag.err_msg
                </div>
            </div>

            <label>
                Select searching name:
                @Html.DropDownListFor(model => model.Word, ViewBag.DropDown[1] as SelectList, "", new { @class = "form-control" })
            </label>
            <br />  <br />
            <label>
                Select File name:
                @Html.DropDownListFor(model => model.FileName, ViewBag.DropDown[0] as SelectList, "", new { @class = "form-control" })
            </label>
        </div>
   </div>


    <div id="backBtn">
        <input type="submit" value="Search" class="btn btn-primary" />
        @* @Html.ActionLink("Show the current pdf file", "Pdf_Viewer", "AdminLTE", new { id = "back" })*@
    </div>}
<style>
    #btn {
        width: 550px;
        margin: auto;
    }

    #center {
        width: 940px;
        margin: auto;
        position: relative;
        padding:27px;
        border:2px solid blue;
        border-radius:12px;
    }

    #backBtn {
        width: 190px;
        margin: 10px 0 0 522px;
    }

    #back {
        border: 1px solid black;
        border-radius: 22px;
        /*position: absolute;*/
        padding: 8px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #select {
        border: 2px solid darkorange;
        position: absolute;
        border-radius: 22px;
        padding: 7px;
        color: darkorange;
        text-decoration: none;
    }

        #select:hover {
            background-color: darkorange;
            color: white;
        }
</style>
