<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WOR Compliants sf</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="font-size:medium">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="~/Home/Index"><img src="~/Logo/logo2.png" style="width:90px;height:35px;margin:7px 0 0 10px" /></a>*@
                @Html.ActionLink("SIENNA", "SignIN", "Home", null, new { id = "nameApp" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("WOR Tabs", "WOR_Tabs", "Home")</li>
                    <li>@Html.ActionLink("All Uploaded Files", "AllFiles", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register_New_User", "Register")</li>
                    <li>@Html.ActionLink("About", "Index", "AdminLTE")</li>
                    <li>@Html.ActionLink("PDF Viewer(Test)", "SearchByWord", "AdminLTE")</li>
                    <li>
                        <a href="https://siennaliving.sharepoint.com/SitePages/Home.aspx">Exit</a>
                    </li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home", "", new { @style="color:red"})</li>
                </ul>
            </div>
        </div>
    </div>

    <div style="margin:auto;width:200px">
        <img src="~/Logo/logo1_sm.png" />
    </div>

    <div style="" class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;font-weight:bold">&copy; @DateTime.Now.Year - WOR Report</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("head", required: false)

    <style>
        #nameApp {
            font-family: 'Times New Roman';
            font-weight: bold;
            font-size: x-large;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
            color: darkorange;
        }

            #nameApp:hover {
                text-decoration: none;
                color: navajowhite;
            }
    </style>
</body>
</html>
