

<table style="font-size:medium;font-family:'Palatino Linotype'" class="table table-bordered">
    <tr>
        <th>
            Session_Name
        </th>
        <th>
            Location
        </th>
        <th>
            Jan
        </th>
        <th>
            Feb
        </th>
        <th>
            Mar
        </th>
        <th>
            Apr
        </th>
        <th>
            May
        </th>
        <th>
            Jun
        </th>
        <th>
            Jul
        </th>
        <th>
            Aug
        </th>
        <th>
            Sep
        </th>
        <th>
            Oct
        </th>
        <th>
            Nov
        </th>
        <th>
            Dec
        </th>
        <th>
            Total_Numb_Educ
        </th>
        <th>
            Total_Numb_Eligible
        </th>
        <th>
            Approx_Per_Educated
        </th>
    </tr>
    @{
        string[] names = ViewBag.Names;
        var list = (List<DTS.Models.Education>)ViewBag.List;
        foreach (var item in list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Session_Name)
                </td>
                <td style="width:500px">
                   @names[item.Location - 1]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Numb_Educ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Numb_Eligible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approx_Per_Educated)
                </td>
                <td id="btns">
                    <div style="width:300px">
                        @Html.ActionLink("Edit", "EditEducation", "Edit", new { id = item.Id }, new { @class = "b" })
                        @Html.ActionLink("Details", "EducationDetails", "Details", new { id = item.Id }, new { @class = "b" })
                        @Html.ActionLink("Delete", "Education_Delete", "Delete", new { id = item.Id }, new { @class = "b" })
                    </div>
                </td>
            </tr>
        }
    }

</table>
<style>
    #btns {
        width: 300px;
    }

    .b {
        border: 1px solid blue;
        border-radius: 6px;
        color: darkred;
        text-decoration: none;
        padding: 6px;
        font-size:medium;
    }

        .b:hover {
            color: red;
            text-decoration: none;
            background-color: blue;
        }
</style>




