
<table style="font-size:medium;font-family:'Palatino Linotype'" class="table table-bordered">
    <tr>
        <th>
            Location
        </th>
        <th>
            DateNews
        </th>
        <th>
            Category
        </th>
        <th>
            Department
        </th>
        <th>
            Source Compliment
        </th>
        <th>
            Received From
        </th>
        <th>
            Description Complim
        </th>
        <th>
            Respect
        </th>
        <th>
            Passion)
        </th>
        <th>
            Teamwork
        </th>
        <th>
            Responsibility
        </th>
        <th>
            Growth
        </th>
        <th>
            Compliment
        </th>
        <th>
            Spot Awards
        </th>
        <th>
            Awards Details
        </th>
        <th>
            Name Awards
        </th>
        <th>
            Awards Received)
        </th>
        <th>
            Community Inititives
        </th>
        <th></th>
    </tr>
    @{
        string[] names = ViewBag.Names;
        var list = (List<DTS.Models.Good_News>)ViewBag.List;
        foreach (var item in list)
        {
            <tr>
                <td>
                    @names[item.Location - 1];
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNews)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceCompliment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description_Complim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Respect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teamwork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsibility)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Growth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Compliment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spot_Awards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Awards_Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAwards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Awards_Received)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Community_Inititives)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit_GoodNews", "Edit", new { id = item.Id }, new { @class = "b" })
                    @Html.ActionLink("Details", "GoodNews_Details", "Details", new { id = item.Id }, new { @class = "b" })
                    @Html.ActionLink("Delete", "GoodNews_Delete", "Delete", new { id = item.Id }, new { @class = "b" })
                </td>
            </tr>
        }
    }

</table>
<style>
    .b {
        font-size: medium;
        border-radius: 6px;
        color: darkred;
        text-decoration: none;
        padding: 6px;
    }

        .b:hover {
            color: red;
            text-decoration: none;
            background-color: blue;
        }
</style>