@model DTS.Models.Sign_in_Main
 
@{
    ViewBag.Title = "Desision Support System";
}

<h1 style="font-weight:bold;color:darkorange;text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Sign in Page</h1>

<a class="btn btn-primary" style="float:right;width:150px" href="https://siennaliving.sharepoint.com/SitePages/Home.aspx" id="btn1">Exit<br />Sign in Page</a>
<br /><br /><br />
<button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("WOR_Tabs", "Home")'" style="float:right;width:150px" id="btn2">WOR Tabs<br />Forms</button>
<br /><br /><br />
<button class="btn btn-success" onclick="location.href='@Url.Action("Register_New_User", "Register")'" style="float:right;width:150px" id="btn2">Register <br /> New User</button>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div id="contactForm" class="form-group">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <label class="contact" for="care_community">
        Care Community Centre:
        <label>
            @Html.DropDownListFor(model => model.Care_Community_Centre, ViewBag.listing[0] as SelectList, "Fox Ridge Care Community", new { id = "drop1" })
        </label>
    </label>
    <br />
    <label class="contact" for="user">
        User Name:
        <label  style="margin:10px 0 0 90px;padding:6px;border-radius:5px;width:500px">
            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
        </label>
    </label>

    <br />
    <label class="contact" for="position">
        Position:
        <label>
            @Html.DropDownListFor(model => model.Position, ViewBag.listing[1] as SelectList, "Executive Director", new { id = "drop2" })
        </label>
    </label>

    <br /><br /><br /><br />

    <label>
        Current Date:
        <label>
            @Html.TextBoxFor(m => m.Current_Date, "{0:d MMM yyyy}", new { @class = "form-control" })
        </label>
    </label>
    <label style="float:right">
        Week #:
        <label><input class="form-control" maxlength="2" name="week" placeholder="52" required="" /></label>
    </label>

    <div id="btn" class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <br /><br />
</div>
}
<style>
    #drop1 {
        margin: 10px 0 0 10px;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #drop2 {
        margin: 10px 0 0 115px;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #drop1:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    #drop2:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
    #btn {
        width:100px;
        margin:auto;
    }
</style>