@model DTS.Models.Critical_Incidents

@{
    ViewBag.Title = "Insert";
}

<div style="width:200px;margin:auto">
    <img src="~/logo.jpg" />
</div>

<h1 style="color:darkorange;font-weight:bold;text-align:center">Critical Incidents - Entry Form</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ActionLink("Show All Records", "Select_Incidents", "Select", "", new { id = "select" })
    <br />
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Date dd-mth-yyyy:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor("Date dd-mth-yyyy", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CI Form Number:", htmlAttributes: new { @class = "control-label col-md-2" })
            @* @Html.LabelFor(model => model.CI_Form_Number, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.CI_Form_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CI_Form_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CI Category / Type:", htmlAttributes: new { @class = "control-label col-md-2" })
            @* @Html.LabelFor(model => model.CI_Category_Type, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.CI_Category_Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CI_Category_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Location:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Brief Description:", htmlAttributes: new { @class = "control-label col-md-2" })
            @* @Html.LabelFor(model => model.Brief_Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Brief_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Brief_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("MOH Notified:", htmlAttributes: new { @class = "control-label col-md-2" })
            @* @Html.LabelFor(model => model.MOH_Notified, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOH_Notified, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOH_Notified, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Police Notified:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Police_Notified, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Police_Notified, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Police_Notified, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("POA's Notified:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.POAS_Notified, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.POAS_Notified, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POAS_Notified, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CarePlan Updated:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Care_Plan_Updated, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Care_Plan_Updated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Care_Plan_Updated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Brief Description of Quality Improvement Actions/Measures:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Quality_Improvement_Actions, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quality_Improvement_Actions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quality_Improvement_Actions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("MOHLTC Follow-up:", htmlAttributes: new { @class = "control-label col-md-2" })
            @* @Html.LabelFor(model => model.MOHLTC_Follow_Up, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOHLTC_Follow_Up, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOHLTC_Follow_Up, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Was CIS Initiated on Time:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.CIS_Initiated, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.CIS_Initiated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CIS_Initiated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("All Follow-ups and Amendments:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Follow_Up_Amendments, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Follow_Up_Amendments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Follow_Up_Amendments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Risk Locked:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Risk_Locked, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Risk_Locked, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Risk_Locked, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("File Complete Ready for MOH:", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.File_Complete, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.File_Complete, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.File_Complete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add a New Record" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Sign in Page", "Index", "Home", new { id = "back" })
</div>
<style>

    #back {
        border: 2px solid blue;
        border-radius: 22px;
        position: absolute;
        padding: 11px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #select {
        border: 2px solid blue;
        position: absolute;
        border-radius: 22px;
        padding: 7px;
        text-decoration: none;
    }

        #select:hover {
            background-color: blue;
            color: white;
        }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
