@model DTS.Models.Not_WSIBs

@{
    ViewBag.Title = "Not_WSIB";
}

<h1 style="color:darkorange;font-weight:bold;text-align:center">Not WSIB - Entry Form</h1>

@using (Html.BeginForm())
{
    <div id="center">
        @Html.AntiForgeryToken()
        @Html.ActionLink("Show All Records", "Select_Not_WSIB", "Select", "", new { id = "select" })
        <br /> <br />

               <div class="form-horizontal">
                   <hr />
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Date of Incident
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Date_of_Incident, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Date_of_Incident, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Location
                       </label>
                       <div class="col-md-10">
                           @Html.DropDownListFor(model => model.Location, ViewBag.locations as SelectList, "", new { @class = "form-control" })
                           @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                          Employee Initials
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Employee_Initials, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Employee_Initials, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Time of Incident
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Time_of_Incident, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Time_of_Incident, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Shift, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Shift, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Shift, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                          Home Area
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Home_Area, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Home_Area, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Injury Related
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Injury_Related, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Injury_Related, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                         Type of Injury
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Type_of_Injury, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Type_of_Injury, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Details of Incident
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Details_of_Incident, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Details_of_Incident, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <div class="col-md-offset-2 col-md-10">
                           <input type="submit" value="Add a New Record" class="btn btn-success" />
                       </div>
                   </div>
               </div>
    </div>
}

<div>
    @Html.ActionLink("Back to WOR Tabs", "WOR_Tabs", "Home", new { id = "back" })
</div>
<style>
    #center {
        /*width: 650px;
        margin: auto;
        border: 1px black solid;
        position: relative;*/
        padding: 17px;
        /*border-radius: 22px;*/
    }

    #back {
        border: 2px solid blue;
        border-radius: 22px;
        position: absolute;
        padding: 11px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #select {
        border: 2px solid darkorange;
        position: absolute;
        border-radius: 22px;
        padding: 7px;
        color: darkorange;
        text-decoration: none;
    }

        #select:hover {
            background-color: darkorange;
            color: white;
        }
</style>