@model DTS.Models.Outbreaks

@{
    ViewBag.Title = "Outbreaks";
}

@using (Html.BeginForm())
{
<div id="center">
    @Html.AntiForgeryToken()
    @Html.ActionLink("Show All Records", "Outbreaks", "Select", "", new { id = "select" })
    <h1 style="color:darkorange;font-weight:bold;text-align:center">Outbreaks - Entry Form</h1>
    <div class="form-horizontal" id="center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">
                Date Declared
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Declared, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Declared, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Location
            </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Location, ViewBag.locations as SelectList, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Date Concluded
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Concluded, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Concluded, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Type of Outbreak
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type_of_Outbreak, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type_of_Outbreak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Total Days Closed
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Days_Closed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total_Days_Closed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Total Residents Affected
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Residents_Affected, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total_Residents_Affected, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Total Staff Affected
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Staff_Affected, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total_Staff_Affected, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Strain Identified
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Strain_Identified, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Strain_Identified, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Deaths Due
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deaths_Due, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Deaths_Due, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                CI Report Submitted
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CI_Report_Submitted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CI_Report_Submitted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Notify MOL
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notify_MOL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notify_MOL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Credit for Lost Days
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Credit_for_Lost_Days, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Credit_for_Lost_Days, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Tracking Sheet Completed
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tracking_Sheet_Completed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tracking_Sheet_Completed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Docs Submitted Finance
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Docs_Submitted_Finance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Docs_Submitted_Finance, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" id="btn">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add a New Record" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
}

<div id="backBtn">
    @Html.ActionLink("Back to Main Page", "Index", "Home", new { id = "back" })
</div>
<style>
    #btn {
margin:0 0 0 153px;
    }

    #center {
        width: 1100px;
        margin: auto;
        position: relative;
        padding: 17px;
    }

    #backBtn {
      float:left;
    }

    #back {
        border: 1px solid black;
        border-radius: 22px;
        /*position: absolute;*/
        padding: 8px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #select {
        border: 2px solid darkorange;
        position: absolute;
        border-radius: 22px;
        padding: 7px;
        color: darkorange;
        text-decoration: none;
    }

        #select:hover {
            background-color: darkorange;
            color: white;
        }
</style>
