@model DTS.Controllers.WorTabs
@{
    ViewBag.Title = "WOR Tabs Forms";
}

<h4 style="text-align:center;font-weight:bold;color:red">@ViewBag.ErrorMsg</h4>
<h4 style="text-align:center;font-weight:bold;color:green">@ViewBag.SuccessExport</h4>
<br />
<br />


<script type="text/javascript">

</script>

<div style="padding:43px;margin:0 0 0 -440px">
    @using (Html.BeginForm("WOR_Tabs", "Home", FormMethod.Post))
    {
        <div id="container">
            <ul style="font-weight:bold;font-family:'Palatino Linotype';font-size:larger;list-style-type: none">
                <li>@Html.ListBoxFor(model => model.Name, new SelectList(Model.ListForms, "Value", "Text", Model.ListForms.SelectedValue), new { id = "ref" })</li>
            </ul>
        </div>

        <div id="rightBox">
            <ul style="font-size: xx-large;margin-right:2px" class="nav nav-justified badge">
                <li><button class="btn add-on" style="color:darkgoldenrod;font-size:medium;font-weight:bold" name="btn-summary" type="submit">SUMMARY</button></li>
                <li>
                    <p class="btn btn-dropbox" name="btn-insert" style="width:220px;background-color:whitesmoke; color:darkgoldenrod;font-size:medium;font-weight:bold" id="hiddenShow">
                        NEW COMPLIANCE
                    </p>
                </li>
                <li>
                    <button class="btn btn-dropbox" name="btn-export" style="color: darkgoldenrod; font-size: medium; font-weight: bold" type="submit">
                        EXPORT DATA
                    </button>
                </li>
            </ul>
            <ul class="nav nav-justified" id="btns">
                <li><button hidden type="submit"></button></li>
                <li id="ll" style="">
                    <button id="b1" class="btn btn-primary" name="btn-insert" style="margin: -15px 0 0 65px" type="submit">Input New Record</button>
                    <button id="b2" class="btn btn-primary" style="margin:-15px 0 0 3px" name="btn-list">All Records</button>
                </li>
                <li></li>

            </ul>
                <br />
                <ul class="nav nav-justified">
                <li id="d" style="font-family:'Palatino Linotype';font-size:medium">Date range:</li>
                <li style="color: darkorange;font-size: medium"> Start:&nbsp; @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "", @id = "start" } })</li>
                <li style="color: darkorange;font-size: medium"> End:&nbsp;   @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "", @id = "end" } })</li>
            </ul>
        </div>
    }
</div>
<div style="margin:-955px 0 0 -150px">
    @if (ViewBag.Check == "none")
    {

    }
    else if (ViewBag.Check == "insert")
    {

    }
    else if (ViewBag.Check == "list")
    {
        if (ViewBag.Tbl == "1")
        {
            <br /><br />
            <div style="">
                @Html.Partial("IncidentPartial");
            </div>
        }
        else if (ViewBag.Tbl == "2")
        {
            <br /><br />
            <div style="">
                @Html.Partial("ComplaintsPartial");
            </div>
        }
        else if (ViewBag.Tbl == "3")
        {
            <br /><br />
            <div style="">
                @Html.Partial("GoToListForm");
            </div>
        }
        else if (ViewBag.Tbl == "4")
        {
            <br /><br />
            <div style="">
                @Html.Partial("EmergencyPrepPartial");
            </div>
        }
        else if (ViewBag.Tbl == "5")
        {
            <br /><br />
            <div style="">
                @Html.Partial("RiskLegalPartial");
            </div>
        }
        else if (ViewBag.Tbl == "6")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("VisitOtherPartial");
            </div>
        }
        else if (ViewBag.Tbl == "7")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("PrivacyBreachPartial");
            </div>
        }
        else if (ViewBag.Tbl == "8")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("PrivacyComplaintsPartial");
            </div>
        }
        else if (ViewBag.Tbl == "9")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("EducationPartial");
            </div>
        }
        else if (ViewBag.Tbl == "10")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("RelationPartial");
            </div>
        }
        else if (ViewBag.Tbl == "11")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("ImmunPartial");
            </div>
        }
        else if (ViewBag.Tbl == "12")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("OutbrakePartial");
            </div>
        }
        else if (ViewBag.Tbl == "13")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("WSIBPartial");
            </div>
        }
        else if (ViewBag.Tbl == "14")
        {
            <br /><br /> <br /><br />
            <div style="">
                @Html.Partial("NoWSIBPartial");
            </div>
        }

    }
    else if (ViewBag.Check == "summary")
    {
        <br /><br />
        <ul style="list-style-type:none" class="">
            <li>@{Html.RenderPartial("GoodNewsPartial", (List<string>)ViewBag.GN_Found);}</li>
        </ul>
    }
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function saveTextAsFile() {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: myJSON,
            url: "/Home/ExportToCSV",
            dataType: "json"
        });
    }


    $(document).ready(function () {
        $("#ll").hide();
        $("#hiddenShow").click(function () {
            var sel = document.getElementById("ll").style;
            if (sel.display == "none")
                $("#ll").show("slow");
            else $("#ll").hide("slow");
        });
    });

</script>

<style>
    li #start, #end {
        margin: -50px 0 0 0;
    }

    #b1, #b2 {
        height: 30px;
        width: 135px;
    }

    button {
        width: 150px;
        height: 40px;
        font-size: larger;
        font-weight: bold;
    }

    #btns {
        padding: 10px;
        font-size: x-large;
    }

    #rightBox {
        margin: 0 0 0 550px;
        width: 900px;
        padding: 22px;
        height: 1050px
    }

    #container {
        text-align: left;
        position: absolute;
        height: 550px;
        margin-right: 22px;
        padding: 22px;
        margin: 0 0 0 -50px;
    }

    #ref {
        margin: -20px 0 0 -60px;
        width: 900px;
        padding: 23px;
        border: 4px solid darkorange;
        border-radius: 12px;
        text-decoration: none;
        color: mediumslateblue;
        height: 540px;
    }

    /* #ref:hover {
            color: darkorange;
        }*/
</style>