@model DTS.Models.Critical_Incidents
@{
    ViewBag.Title = "WOR Tabs Forms";
}

<div id="container">
    <h1 style="text-align:center;font-weight:bold;color:darkorange">WOR Tabs Forms</h1><br /><br />
    <ul style="font-weight:bold; font-family:'Palatino Linotype';font-size:x-large;list-style-type: none">
        <li>@Html.ActionLink("1. Critical Incidents", "Select_Incidents", "Select", new { id = @ViewBag.id }, new { id = "ref" })</li>
        <li>@Html.ActionLink("2. Complaints", "Complaint_Insert", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("3. Good News", "GoodNews_Insert", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("4. Emergency Prep", "", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("5. Community Risks or Legal", "Community_Insert", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("6. Visits by Other Agencies", "Visits_Others", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("7a. Privacy Breaches", "Privacy_Breaches", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("7b. Privacy Complaints", "Privacy_Complaints", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("8. Education", "Education_Insert", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("9. Labour Relations", "Labour_Insert", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("10. Immunization", "Immunization_Insert", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("11. Outbreak", "Outbreaks", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("12a. WSIB", "WSIB", "Home", "", new { id = "ref" })</li>
        <li>@Html.ActionLink("12b. Not WSIB", "Not_WSIB", "Home", "", new { id = "ref" })</li>
        @*  <li>@Html.ActionLink("9. Visits by Regulatory Agencies ", "Agency_Insert", "Home", "", new { id = "ref" })</li>*@
    </ul>
</div>

<style>
    #container {
        width: 400px;
        margin: auto;
        text-align: center;
    }

    #ref {
        text-decoration: none;
        color: mediumslateblue;
    }

        #ref:hover {
            color: darkorange;
        }
</style>