@model DTS.Models.WSIB

@{
    ViewBag.Title = "WSIB";
}

<h1 style="color:darkorange;font-weight:bold;text-align:center">WSIB - Entry Form</h1>

@using (Html.BeginForm())
{
    <div id="center">
        @Html.AntiForgeryToken()
        @Html.ActionLink("Show All Records", "Select_WSIB", "Select", "", new { id = "select" })
        <br /> <br />
               <div class="form-horizontal">
                   <hr />
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Date Accident
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Date_Accident, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Location
                       </label>
                       <div class="col-md-10">
                           @Html.DropDownListFor(model => model.Location, ViewBag.locations as SelectList, "", new { @class = "form-control" })
                           @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Employee Initials
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Employee_Initials, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Accident Cause
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Accident_Cause, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Date Duties
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Date_Duties, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Date Regular
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Date_Regular, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Lost Days
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Lost_Days, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Modified Days Not Shadowed
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Modified_Days_Not_Shadowed, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Modified Days Shadowed
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Modified_Days_Shadowed, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="control-label col-md-2">
                           Form 7
                       </label>
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Form_7, new { htmlAttributes = new { @class = "form-control" } })
                       </div>
                   </div>

                   <div class="form-group">
                       <div class="col-md-offset-2 col-md-10">
                           <input type="submit" value="Add a New Record" class="btn btn-success" />
                       </div>
                   </div>
               </div>
    </div>
}

<div>
    @Html.ActionLink("Back to WOR Tabs", "WOR_Tabs", "Home", new { id = "back" })
</div>
<style>
    #center {
        /*width: 650px;
        margin: auto;
        border: 1px black solid;
        position: relative;*/
        padding: 17px;
        /*border-radius: 22px;*/
    }

    #back {
        border: 2px solid blue;
        border-radius: 22px;
        position: absolute;
        padding: 11px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #select {
        border: 2px solid darkorange;
        position: absolute;
        border-radius: 22px;
        padding: 7px;
        color: darkorange;
        text-decoration: none;
    }

        #select:hover {
            background-color: darkorange;
            color: white;
        }
</style>
