@model DTS.Models.Users

@{
    ViewBag.Title = "Register_New_User";
}

<h1 style="color:darkorange;font-weight:bold;text-align:center">Registration New User - Entry Form</h1>

@using (Html.BeginForm())
{
    <div id="center">
        @Html.AntiForgeryToken()
        @Html.ActionLink("Show All Records", "Select_Users", "Select", "", new { id = "select" })
        <div class="form-horizontal">
            <h1 style="text-align:center;color:forestgreen">Create New User</h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Position", ViewBag.listing[1] as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Care_Community, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownList("CareCommunity", ViewBag.listing[0] as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Care_Community, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<label>
                        <input type="date" id="date" class="form-control" placeholder="17/11/2019" />
                    </label>*@
                    @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Week, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Week, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Week, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div id="cent" class="col-md-offset-2 col-md-10">
                    <input id="centBtn" type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}


    @Html.ActionLink("Back to List", "Index", "Home", new { id = "back" })

<style>
    #center {
        width: 650px;
        margin: auto;
        border: 1px black solid;
        position: relative;
        padding: 17px;
        border-radius: 22px;
    }

    #back {
        border: 2px solid blue;
        border-radius: 22px;
        position: absolute;
        padding: 11px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #select {
        border: 2px solid blue;
        position: absolute;
        border-radius: 22px;
        padding: 7px;
        text-decoration: none;
    }

        #select:hover {
            background-color: blue;
            color: white;
        }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
