@model DTS.Models.Immunization

@{
    ViewBag.Title = "Edit_Immun";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="center">
        <div class="form-horizontal">
            <h4 style="text-align:center;color:green;font-weight:bold">Immunization Id - @ViewBag.id</h4>

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="control-label col-md-2">Location</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Location, ViewBag.locations as SelectList, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numb_Res_Comm, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numb_Res_Comm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numb_Res_Comm, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numb_Res_Immun, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numb_Res_Immun, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numb_Res_Immun, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numb_Res_Not_Immun, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numb_Res_Not_Immun, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numb_Res_Not_Immun, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Res_Immun, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Res_Immun, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Per_Res_Immun, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Res_Not_Immun, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Res_Not_Immun, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Per_Res_Not_Immun, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
        }


        <div>
            @Html.ActionLink("Back to All Records", "Select_Immunization", "Select", "", new { id = "backBtn" })
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


        <style>
            #center {
                /*width: 500px;
            margin: auto;
            border: 1px silver solid;
            border-radius: 22px;*/
                padding: 27px;
            }

            #backBtn {
                border: 2px blue solid;
                border-radius: 22px;
                background-color: white;
                color: blue;
                padding: 15px;
                text-decoration: none;
            }

                #backBtn:hover {
                    background-color: blue;
                    color: white;
                }
        </style>
