@model DTS.Models.Good_News

@{
    ViewBag.Title = "GoodNews_Delete";
}
<h2 style="text-align:center">Good News Delete</h2>

<h1 style="text-align:center;color:white;background-color:black">Are you sure you want to delete this?</h1>
<div id="center">
    <h1 style="text-align:center;color:darkorange">Good News <br /> ID - @Html.DisplayFor(id => id.Id)</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date News :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNews)
        </dd>

        <dt>
            Category :&nbsp; 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            Department :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            Source Compliment :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceCompliment)
        </dd>

        <dt>
            Description Complim :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description_Complim)
        </dd>

        <dt>
            Location :&nbsp;
        </dt>

        <dd>
            @ViewBag.list
        </dd>

        <dt>
            Respect :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respect)
        </dd>

        <dt>
            Passion :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passion)
        </dd>

        <dt>
            Teamwork :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamwork)
        </dd>

        <dt>
            Responsibility :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsibility)
        </dd>

        <dt>
            Growth :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Growth)
        </dd>

        <dt>
            Compliment :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compliment)
        </dd>

        <dt>
            Spot Awards :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spot_Awards)
        </dd>

        <dt>
            Awards Received :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Awards_Received)
        </dd>

        <dt>
            Community Inititives :&nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community_Inititives)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="cent" class="form-actions no-color">
            <input id="centBtn" type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>

@Html.ActionLink("Back to List", "Select_GoodNews", "Select", "", new { id = "back" })


<style>
    #cent, #centBtn {
        width: 200px;
        margin: auto;
    }

    #btn {
        font-size: large;
    }

    #back {
        float: left;
        border: 2px solid blue;
        border-radius: 22px;
        position: absolute;
        padding: 11px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #back:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }

    #center {
        width: 370px;
        margin: auto;
        border: 1px black solid;
        position: relative;
        padding: 17px;
        border-radius: 22px;
    }
</style>