@model DTS.Models.Community_Risks

@{
    ViewBag.Title = "Community_Details";
}

<div>
    <h1 style="text-align:center;font-size:x-large;color:darkorange">Community Risk Records - Details Id  @Html.DisplayFor(model => model.Id):</h1>
    <hr />
    <div id="center">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @ViewBag.list
            </dd>

            <dt>
                Type Of Risk
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type_Of_Risk)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descriptions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descriptions)
            </dd>

            <dt>
                Potential Risk
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Potential_Risk)
            </dd>

            <dt>
                MOH Visit
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MOH_Visit)
            </dd>

            <dt>
                Risk Legal Action
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Risk_Legal_Action)
            </dd>

            <dt>
                Hot Alert
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hot_Alert)
            </dd>

            <dt>
                Status Update
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status_Update)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Resolved)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resolved)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Select_Community", "Select", "", new { id = "backBtn" })
    </p>
</div>
<style>
    #center {
        width: 370px;
        margin: auto;
        border: 1px black solid;
        position: relative;
        padding: 17px;
        border-radius: 22px;
    }

    #backBtn {
        float: left;
        border: 2px solid blue;
        border-radius: 22px;
        position: absolute;
        padding: 11px;
        text-decoration: none;
        background-color: aqua;
        color: brown
    }

        #backBtn:hover {
            text-decoration: none;
            background-color: black;
            color: white
        }
</style>