@model DTS.Models.Education

@{
    ViewBag.Title = "EducationDetails";
}

<div>
    <h1 style="text-align:center;font-size:x-large;color:darkorange">Education Record - Details Id  @Html.DisplayFor(model => model.Id):</h1>
    <hr />
    <div id="center">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Session_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Session_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @ViewBag.list
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Jan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Jan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Feb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Feb)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.May)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.May)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Jun)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Jun)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Jul)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Jul)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Aug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sep)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sep)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Oct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Oct)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nov)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nov)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dec)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dec)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_Numb_Educ)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_Numb_Educ)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total_Numb_Eligible)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total_Numb_Eligible)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Approx_Per_Educated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Approx_Per_Educated)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Education_Select", "Select", "", new { id = "backBtn" })
    </p>
</div>

<style>
    #center {
        width: 420px;
        margin: auto;
        border: 1px black solid;
        position: relative;
        padding: 17px;
        border-radius: 22px;
    }

    #backBtn {
        border-radius: 22px;
        border: 2px solid blue;
        padding: 15px;
        background-color: white;
        color: blue;
        position: absolute;
        text-decoration: none;
    }

        #backBtn:hover {
            background-color: blue;
            color: white;
        }
</style>
