@model DTS.Models.Good_News

@{
    ViewBag.Title = "GoodNews_Details";
}


<div>
    <h1 style="text-align:center;font-size:x-large;color:darkorange">Good News Details Records - Details Id  @Html.DisplayFor(model => model.Id):</h1>
    <hr />
    <div id="center">
        <dl class="dl-horizontal">
            <dt>
                 Date News
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateNews)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>

            <dt>
                Source Compliment
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SourceCompliment)
            </dd>

            <dt>
                 Description Complim
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description_Complim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @ViewBag.list
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Respect)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Respect)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Passion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Teamwork)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Teamwork)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Responsibility)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Responsibility)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Growth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Growth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Compliment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Compliment)
            </dd>

            <dt>
                Spot Awards
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Spot_Awards)
            </dd>

            <dt>
                Awards Received
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Awards_Received)
            </dd>

            <dt>
                Community Inititives
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Community_Inititives)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Select_GoodNews", "Select", "", new { id = "backBtn" })
</p>


<style>
    #center {
        width: 370px;
        margin: auto;
        border: 1px black solid;
        position: relative;
        padding: 17px;
        border-radius: 22px;
    }

    #backBtn {
        border-radius: 22px;
        border: 2px solid blue;
        padding: 15px;
        background-color: white;
        color: blue;
        position: absolute;
        text-decoration: none;
    }

        #backBtn:hover {
            background-color: blue;
            color: white;
        }
</style>