@model DTS.Models.Critical_Incidents

@{
    ViewBag.Title = "Incidents_Details";
}

<div>
    <h1 style="text-align:center;font-size:x-large;color:darkorange">Incidents Details Records - Details Id  @Html.DisplayFor(model => model.id):</h1>
    <hr />
    <div id="center">
        <dl class="dl-horizontal">
            <dt>
                Date (dd-mm-yyyy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                CI Form Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CI_Form_Number)
            </dd>

            <dt>
                CI Category / Type
            </dt>

            <dd>
                @ViewBag.list[1]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @ViewBag.list[0]
            </dd>

            <dt>
                Brief Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brief_Description)
            </dd>

            <dt>
                MOH Notified
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MOH_Notified)
            </dd>

            <dt>
                Police Notified
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Police_Notified)
            </dd>

            <dt>
                POAS Notified
            </dt>

            <dd>
                @Html.DisplayFor(model => model.POAS_Notified)
            </dd>

            <dt>
                Care Plan Updated
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Care_Plan_Updated)
            </dd>

            <dt>
                Brief Description of Quality Improvement Actions/Measures
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quality_Improvement_Actions)
            </dd>

            <dt>
                MOHLTC Follow-up
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MOHLTC_Follow_Up)
            </dd>

            <dt>
                Was CIS Initiated on Time
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CIS_Initiated)
            </dd>

            <dt>
                All follow up & amendments completed
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Follow_Up_Amendments)
            </dd>

            <dt>
                Risk Locked
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Risk_Locked)
            </dd>

            <dt>
                File Complete Ready for MOH
            </dt>

            <dd>
                @Html.DisplayFor(model => model.File_Complete)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Select_Incidents", "Select", "", new { id = "backBtn"})
    </p>
</div>

<style>
    #center {
        width: 370px;
        margin: auto;
        border: 1px black solid;
        position: relative;
        padding: 17px;
        border-radius: 22px;
    }
    #backBtn {
        border-radius: 22px;
        border: 2px solid blue;
        padding: 15px;
        background-color: white;
        color: blue;
        position: absolute;
        text-decoration:none;
    }
    #backBtn:hover {
        background-color:blue;
        color:white;
    }
</style>