@model DTS.Models.Not_WSIBs

@{
    ViewBag.Title = "Not_WSIB_Details";
}

<h2>Not_WSIB_Details</h2>

<div>
    <h4>Not_WSIBs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_of_Incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_Incident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_of_Incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_of_Incident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury_Related)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury_Related)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_of_Injury)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_of_Injury)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details_of_Incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details_of_Incident)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
